* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

p{
    font-size: 24px;
    margin:5px;
}
body{
  display:block;
  /* background-color: #cd7aeb; */
}

a,li,ul{
  text-decoration: none;
  list-style: none;
  margin:0px;
  padding:0px;
}

.header {
  display: block;
  align-items: center;
  background: linear-gradient(90deg, rgb(160, 92, 235) 1.18%, rgb(148, 108, 245) 100%);
  color: white;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0px;
  padding-top: 18px;
}

.header ul {
  display: flex;
  align-items: center;
  padding: 0px 18px;
  /* margin-top:10px; */
}

.heading{
  display: flex;
  padding: 0px ;
  justify-content: space-between;
  font-size: 25px;
  /* margin-bottom: 10px; */
}
.page-heading{
  display: flex;
  padding: 0px ;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 10px;
}
.heading-text{
  padding-left: 10px;
}
.second-line ul{
  /* background-color: aqua; */
  max-width:100%;
  padding-left: 0%;
  padding-bottom: 0%;
}
.header li,.second-line li{
  /* background-color: aqua; */
  padding: 0px 12px;
  font-size: 15px;
  margin-left:0px;
}

.header li{
  font-size: 18px;
}
.header a:hover,
.header a:active{
  color:rgb(55, 50, 63);
}
.heading-text a:hover,
.heading-text a:active{
  color:rgb(57, 27, 104);
}

.container{
  margin:0px 10%;
  padding:10px;
  margin-bottom: 55px;
}

.faq-items{
  display: block;
  flex-wrap: nowrap;
  margin: 10px;
  /* margin-left: 25px; */
  padding: 6px;
  font-size: 18px;
  font-family: cursive;
  background-color: rgb(233, 120, 120);
  /* linear-gradient(red,pink); */
}

.footer {  
  background-color: #333; 
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 14px; 
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-bottom: 0px;
  border-top: 1px solid #ccc; 
}

.footer-body{
  display: flex;
  justify-content: space-between;
  max-width:100%;
}

/* .footer-text{
  margin-right:auto;
} */